/* Variables */

:root {
  --basic-white: #ffffff;
  --opacity-white: rgba(255, 255, 255, 0.5);
  /*потому что не получается сделать полупрозрачность состояний свойствами*/
  --opacity-white-feature: rgba(255, 255, 255, 0.3);
  --basic-black: #000000;
  --opacity-black: rgba(0, 0, 0, 0.3);
  --yellow-footer-nav: #ffd180;
  --extra-dark-hover: #161D29;
  --dark-top-nav: #293449;
  --basic-gray: #f1f5f7;
  --basic-beige: #f9f5f0;
  --basic-dark: #32425c;
  --basic-dark-opacty: rgb(20%, 26%, 36%, 0.5);
  --basic-filter: #f7f3ec;

  --feature-yellow: #ffbf47;
  --feature-blue: #3bbce3;
  --feature-purple: #dc91d8;
  --feature-green: #8ed78f;

  --button-green: #63a63e;
  --button-green-hover: #5fbb2d;
  --button-green-click: #518534;

  --basic-red: #ee3643;
  --basic-red-hover: #ca2c37;
  --basic-red-click: #ba2732;

  --button-service-hover: rgba(197, 197, 197, 0.3);
  --button-service-click: rgba(169, 169, 169, 0.3);

  --nav-dark-hover: #1d2739;
  --span-gray: #a9a9a9;
  --gray: #C5C5C5;

  --dark-social: #212A3A;
  --modal-background: #F4F4F4;
  --light-gray: #e5e5e5;
  --modal-gray: #f1f1f1;
}

@font-face {
  font-family: "cuprum";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/cuprum.woff2"),
    url("../fonts/cuprum.woff");
}

@font-face {
  font-family: "cuprum";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/cuprumbold.woff2"),
    url("../fonts/cuprumbold.woff");
}

@font-face {
  font-family: "cuprum";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/cuprumitalic.woff2"),
    url("../fonts/cuprumitalic.woff");
}

@font-face {
  font-family: "cuprum";
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/cuprumbolditalic.woff2"),
    url("../fonts/cuprumbolditalic.woff");
}

@font-face {
  font-family: "PT Sans";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans.woff2"),
    url("../fonts/ptsans.woff");
}

@font-face {
  font-family: "PT Sans";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2"),
    url("../fonts/ptsansbold.woff");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page-body,
.catalog-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: var(--basic-gray);
  margin-bottom: 59px;
}

.top-nav {
  margin-bottom: 41px;
}

/*flex header*/
.top-nav-wrap {
  display: flex;
  justify-content: space-between;
}

.top-nav-wrap-wrap {
  display: flex;
  align-items: center;
}

.top-nav-logo {
  padding: 12px 56px 12px;
  margin: 0 17px 0 0;
}

/*flex-header-info*/
.header-info-wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 0 40px 0;
}

.header-info-button-wrapper {
  justify-self: right;
}

.top-nav {
  background-color: var(--dark-top-nav);
  font-size: 18px;
}

.top-nav-first-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 0;
}

.top-nav-first-item {
  text-align: center;
}

.top-nav-first-list-item a {
  text-decoration: none;
  color: var(--basic-white);
}

.logo {
  text-decoration: none;
}

.logo-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo:active {
  background-color: var(--basic-red-click);
}

.top-nav-input-search {
  background-color: var(--dark-top-nav);
  border: none;
}

.top-nav-input-search::placeholder {
  color: var(--basic-white);
}

.top-nav-search-img {
  display: block;
  max-width: 100%;
  height: auto;
  background-color: var(--basic-gray);
}

.top-nav-first-list-bookmark {
  padding: 9px 26px 9px 49px;
}

.top-nav-first-list-bookmark:active,
.top-nav-first-list-cart:active {
  background-color: var(--extra-dark-hover);
  color: var(--opacity-white);
}

.top-nav-first-list-cart {
  padding: 9px 24px 9px 43px;
}

.top-nav-first-list-order {
  background-color: var(--button-green);
  padding: 9px 16px 9px 19px;
}

.top-nav-first-list-order:hover,
.top-nav-first-list-order:focus {
  background-color: var(--button-green-hover);
}

.top-nav-first-list-order:active {
  color: var(--opacity-white);
}

.top-nav-first-list-bookmark,
.top-nav-first-list-cart {
  position: relative;
}

.top-nav-first-list-bookmark::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 25px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icons/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.top-nav-first-list-cart::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 20px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icons/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.top-nav-first-list-bookmark:hover::before,
.top-nav-first-list-cart:hover::before,
.top-nav-first-list-bookmark:focus::before,
.top-nav-first-list-cart:focus::before {
  opacity: 1;
}

.header-info-about {
  padding: 0;
  margin: 0;
  margin-left: 30px;
  max-width: 197px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.header-info-contacts {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: var(--basic-dark);
}

.header-info-contacts-phone {
  border: solid 3px var(--basic-white);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  padding: 7px 50px 8px 74px;
  position: relative;
}

.header-info-contacts-phone::before {
  content: '';
  position: absolute;
  left: 40px;
  top: 13px;
  width: 17.5px;
  height: 19px;
  background-image: url(../img/icons/phone.svg);
}

.phone {
  text-decoration: none;
}

.header-info-contacts-address {
  padding: 0;
  margin: 0;
  margin-top: 3px;
}

.header-info-user-button {
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.header-info-user-button svg {
  margin: 0 10px 0 0;
}

.header-info-user-button:hover,
.header-info-user-button:focus {
  color: var(--basic-red);
}

.header-info-user-button:active {
  color: var(--button-service-hover);
}

.header-info-user-button:hover path,
.header-info-user-button:focus path {
  fill: #3D546F;
}

.header-info-button-wrapper {
  display: flex;
  align-items: flex-start;
}

.header-info-button-wrapper a {
  text-decoration: none;
}

.header-info-button-wrapper a:nth-child(1) {
  padding: 12px 27px 12px 19px;
  margin: 0 10px 0 0px;
  display: flex;
}

.header-info-button-wrapper a:last-child {
  padding: 12px 24px;
}

.header-info-enter-img {
  display: block;
  max-width: 100%;
  height: auto;
  background-color: var(--basic-gray);
}

.main-nav-list {
  list-style: none;
  padding: 0 25px 0 25px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  box-shadow: inset 0px -5px 0px #293449;
}

.main-nav-item {
  padding: 16px 28px 20px 28px;
}

.main-nav-item:last-child {
  margin-right: 0;
}

.main-nav {
  margin-bottom: 60px;
  font-size: 13px;
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.main-nav-list a {
  text-decoration: none;
  color: var(--basic-white);
  font-size: 18px;
}

.main-nav-item:hover,
.main-nav-item:focus {
  background-color: var(--dark-top-nav);
}

.container {
  width: 940px;
  margin: 0 auto;
}

.feature-item1 {
  grid-area: feature1;
}

.feature-item2 {
  grid-area: feature2;
}

.feature-item3 {
  grid-area: feature3;
}

.feature-item4 {
  grid-area: feature4;
}

.feature-item5 {
  grid-area: feature5;
}

.feature-item {
  position: relative;
}

.feature-materials-icon {
  position: absolute;
  top: 31px;
  right: 43px;
}

.feature-tools-icon {
  position: absolute;
  top: 31px;
  right: 34px;
}

.feature-equipment-icon {
  position: absolute;
  top: 31px;
  right: 31px;
}

.feature-sales-icon {
  position: absolute;
  top: 26px;
  right: 45px;
}

.feature-delivery-icon {
  position: absolute;
  top: 32px;
  right: 31px;
}

.slider {
  grid-area: slider;
}

.slider-img,
.slider-forward-img,
.slider-back-img {
  display: block;
  max-width: 100%;
  height: auto;
  background-color: var(--basic-gray);
}

.slider-button {
  display: block;
  position: absolute;
  bottom: 51px;
  left: 24px;
  min-width: 192px;
  text-align: center;
  padding: 11px 10px 9px;
}

.features {
  margin-bottom: 59px;
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-areas:
    "feature1 feature2 feature3"
    "slider slider feature4"
    "slider slider feature5";
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 23px;
}

.feature-heading {
  padding: 0;
  margin: 0 0 14px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
}

.feature-button {
  text-decoration: none;
  width: 135px;
  text-align: center;
  padding: 10px;
  background-color: var(--opacity-white-feature);
}

.feature-button:hover,
.feature-button:focus {
  background-color: var(--button-service-hover);
}

.feature-button:active {
  background-color: var(--button-service-click);

}

.feature-materials {
  background-color: var(--feature-yellow);
}

.feature-tools {
  background-color: var(--feature-blue);
}

.feature-equipment {
  background-color: var(--feature-purple);
}

.feature-sales {
  background-color: var(--feature-green);
}

.feature-delivery {
  background-color: var(--feature-yellow);
}

.button-red {
  background-color: var(--basic-red);
}

.button-red:focus,
.button-red:hover {
  background-color: var(--basic-red-hover);
}

.button-red:active {
  background-color: var(--basic-red-click);
}

.slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-item {
  position: relative;
  display: none;
}

.slider-item-current {
  display: block;
}

.slider-item a {
  text-decoration: none;
}

.slider-caption {
  position: absolute;
  top: 23px;
  left: 24px;
}

.slider-item p {
  margin: 0;
  padding: 0;
}

.slider-caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.slider-text {
  font-size: 18px;
  color: var(--basic-white);
  position: absolute;
  top: 64px;
  left: 24px;
}

.popular-products-label,
.brands-label {
  background-color: var(--basic-beige);
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
}

.popular-products-heading,
.brands-heading {
  padding: 0;
  margin: 0;
  margin-left: 28px;
  padding-top: 29px;
  padding-bottom: 30px;
}

.popular-products-button,
.brands-button {
  text-decoration: none;
  margin-right: 14px;
  min-width: 192px;
  padding: 11px 10px 9px;
  text-align: center;
}

.product-img-box {
  width: 164px;
  height: 184px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 8px 0;
}

.product-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.heading {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark);
}

.popular-products-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}

.popular-products-wrap {
  margin-bottom: 70px;
}

.products-item {
  border: solid 2px var(--light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 18px 21px;
}

.product-heading {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.old-price {
  font-family: 'PT Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: var(--span-gray);
  text-decoration: line-through;
  text-transform: uppercase;
}

.label-new {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
}

.product-button-price {
  text-decoration: none;
  padding: 10px;
  margin-top: auto;
}

.products-button-buy {
  background-color: var(--button-green);
  padding: 10px 40px 10px 53px;
  border-radius: 2px;
  box-shadow: inset 0px -3px 0px #367315;
}

.products-button-buy:hover,
.button-buy:focus {
  background-color: var(--button-green-hover)
}

.products-button-buy:active {
  background-color: var(--button-green-click);
}

.products-button-bookmark {
  border: solid 3px var(--button-green);
  color: var(--basic-dark);
  background-color: var(--basic-white);
  padding: 11px 34px 9px 33px;
  border-radius: 2px;
}

.products-button-bookmark:hover,
.products-button-bookmark:focus {
  border: 3px solid var(--basic-dark);
}

.products-button-bookmark:active {
  border: 3px solid var(--basic-dark-opacity);
  color: var(--basic-dark-opacity);
}

.brands-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.brand-logo {
  display: block;
  max-width: 100%;
  height: auto;
  background-color: var(--basic-gray);
}

.brands-wrap {
  margin-bottom: 70px;
}

.brand-item {
  border: solid 2px var(--light-gray);
  display: flex;
  justify-content: center;
}

.brand-link {
  text-decoration: none;
  align-self: center;
}


.services {
  min-width: 100%;
  background-color: var(--basic-gray);
}

.service-item-heading {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
}

/*grid-services*/
.service-wrap {
  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: 80px;
  padding-bottom: 99px;
  margin-bottom: 70px;
  position: relative;
}

.service-img {
  display: block;
  max-width: 100%;
  height: auto;
  background-color: var(--basic-gray);
  position: absolute;
  bottom: 0;
  right: 0;
}

.service-heading {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 64px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.service-text {
  margin: 0;
  padding: 0;
  max-width: 394px;
}

.service-item-heading {
  padding: 0;
  margin: 0;
  margin-top: 64px;
  color: var(--basic-dark)
}

.service-item-text {
  margin: 0;
  padding: 0;
  max-width: 300px;
}

.services-buttons-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 60px;
}

.service-description-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.service-description-item {
  display: none;
}

.service-description-current {
  display: block;
}

.service-button {
  background-color: var(--basic-dark);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  text-transform: none;
  width: 100%;
  padding: 13.5px 17.5px;
  text-align: left;
}

.service-button:hover,
.service-button:focus {
  background-color: var(--dark-top-nav);
}

.service-button:active,
.service-button-active {
  background-color: var(--basic-white);
  color: var(--basic-dark);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  width: 100%;
  padding: 13.5px 17.5px;
  text-align: left;
  text-transform: none;
}

/*about-company*/
.about-company-wrap {
  display: grid;
  grid-template-columns: 1fr 300px;
  margin-bottom: 70px;
}

.about {
  max-width: 471px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-text p {
  margin: 0;
  padding: 0;
}

.about-text p:first-child {
  margin-bottom: 32px;
}

.about-button {
  text-decoration: none;
  min-width: 220px;
  text-align: center;
  padding: 11px 40px 9px;
  margin-top: auto;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts-text {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  max-width: 181px;
}

.contacts-map {
  display: block;
  max-width: 100%;
  height: auto;
  background-color: var(--basic-gray);
  margin-bottom: 25px;
}

.contacts-button {
  width: 100%;
  text-align: center;
  padding: 11px 10px 9px;
  margin-top: auto;
}

.about-delivery-item {
  margin-bottom: 12px;
  font-size: 18px;
  padding-left: 37px;
  position: relative;
}

.about-delivery-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  top: 10px;
  left: 0;
}

.about-delivery-item:last-child {
  margin-bottom: 0px;
}

.about-delivery-list {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
}

.about-heading,
.contacts-heading {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  color: var(--basic-black);
}

.main-footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
  font-size: 18px;
}

.footer-first-nav-list,
.footer-second-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-first-nav-list {
  display: flex;
  padding: 37px 0 0 0;
}

.footer-first-nav-list a {
  text-decoration: none;
  color: var(--basic-gray);
}

.footer-contacts {
  margin: 0;
  padding: 0;
  color: var(--basic-gray);
  display: flex;
  flex-direction: column;
}

.footer-second-nav-item {
  margin-right: 58px;
}

.footer-second-nav-item:last-child {
  margin-right: 0;
}

.footer-contacts a {
  color: var(--basic-gray);
}

.footer-second-nav-list a {
  text-decoration: none;
  color: var(--yellow-footer-nav);
  font-size: 18px;
}

.footer-first-nav-list a:hover,
.footer-first-nav-list a:focus,
.footer-second-nav-list a:hover,
.footer-second-nav-list a:focus {
  text-decoration: underline;
}

.footer-first-nav-list a:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-second-nav-list a:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
  background-color: var(--dark-top-nav);
  font-size: 16px;
  line-height: 18px;
}

.footer-copyright p {
  margin: 0;
  padding: 0;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
}

.footer-social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.footer-social-list a {
  text-decoration: none;
}

.footer-social-item {
  background-color: var(--dark-social);
  border-radius: 50%;
  margin-right: 4px;
}

.footer-social-item:first-child {
  padding: 15px 10px;
}

.footer-social-item:nth-child(2) {
  padding: 11px 16px;
}

.footer-social-item:nth-child(3) {
  padding: 12px;
  margin-right: 0;
}

.footer-social-list img {
  display: block;
  max-width: 100%;
  height: auto;
}


.footer-social-item:hover,
.footer-social-item:focus,
.footer-social-item:active {
  background-color: var(--basic-red);
}

.footer-mail a,
.footer-authors a {
  color: var(--yellow-footer-nav);
  text-decoration: none;
}

.footer-mail a:hover,
.footer-mail a:focus,
.footer-authors a:focus,
.footer-authors a:hover {
  text-decoration: underline;
}

.footer-mail a:active,
.footer-authors a:active {
  color: var(--basic-red);
}

.footer-mail p,
.footer-authors p {
  margin: 0;
  padding: 0;
}

/*flex-footer*/
.footer-first-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 0 22px 0;
}

.footer-logo {
  padding: 20px 41px 20px 41px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-first-nav-item {
  margin-right: 58px;
}

.footer-first-nav-item:last-child {
  margin-right: 0;
}

.footer-second-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 54px 0;
}

.footer-second-nav-list {
  display: flex;
  justify-self: right;
  padding: 3px 0 0 0;
}

.footer-bottom-wrap {
  display: flex;
  justify-content: space-between;
  padding: 36px 0 34px 0;
}

.modal {
  width: 620px;
  height: 430px;
  font-family: 'cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.modal input,
.modal-input-text {
  background-color: transparent;
  border: solid 2px var(--gray);
  font-family: 'PT Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--span-gray);
}

.modal-button-wrapper {
  width: 620px;
  height: 112px;
  background-color: var(--modal-background);
}

.modal-button-esc {
  display: block;
  max-width: 100%;
  height: auto;
  background-color: var(--basic-gray);
}

/*catalog*/
.header-user-login-list {
  display: flex;
  background-color: var(--basic-white);
  width: 299px;
  height: 45px;
  justify-content: center;
  align-items: center;
}

.header-info-user-list a {
  text-decoration: none;
}

.header-info-exit-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header-info-current-user-name {
  font-family: 'cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  color: var(--basic-black);
}

.header-info-user-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.header-info-user-nav-list a {
  text-decoration: none;
  font-family: 'cuprum', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark);
}

.header-user-list {
  justify-self: right;
}

.header-info-user-nav-item:not(:last-child) {
  margin: 0 30px 0 0;
}

.united-staff-wrap {
  display: grid;
}

.heading-gray {
  padding: 0;
  margin: 0;
  order: 1;
  grid-column: 1 / -1;
  padding-left: 29px;
  padding-top: 29px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.bread-crumps {
  display: flex;
  padding: 0 0 0 41px;
  margin: 0;
  margin-bottom: 20px;
}

.bread-crumps-item {
  margin: 0 41px 0 0;
}

.bread-crumps-item:last-child {
  margin: 0;
}

.bread-crumps-item a {
  text-decoration: none;
}

.filter-wrap {
  display: grid;
  grid-template-columns: 220px 1fr;
  column-gap: 20px;
}

.filter-left h3 {
  padding-left: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bread-crumps {
  list-style: none;
}

.filter-heading {
  padding: 0;
  margin: 0 0 14px 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  border-radius: 2px;
}

.filter-range {
  width: 220px;
  margin: 11px 0 9px 0;
}

.filter-range-controls {
  height: 80px;
  background-color: var(--basic-filter);
  padding: 39px 20px;
  border-radius: 3px;
  position: relative;
  margin: 0 0 9px 0;
}

.filter-range-toggle {
  box-sizing: content-box;
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: var(--gray);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.filter-range-toggle-min {
  left: 18px;
}

.filter-range-toggle-max {
  left: 160px;
}

.filter-range-scale {
  height: 2px;
  background-color: var(--gray);
}

.filter-range-bar {
  height: 2px;
  background-color: var(--button-green);
  width: 80%;
}

.filter-price-controls {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 0 25px 0;
}

.filter-price-controls::after {
  content: '';
  position: absolute;
  top: 18px;
  left: 105px;
  width: 10px;
  height: 1px;
  background-color: var(--basic-black);
}

.filter-price-input {
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-black);
  width: 95px;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
}

.filter-price-input::placeholder {
  color: var(--basic-black);
}

.heading-gray {
  background-color: var(--basic-gray);
}

.bread-crumps a {
  color: var(--basic-black);
  line-height: 18px;
  text-transform: uppercase;
}

.filter-type,
.filter-brands,
.filter-price {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-price,
.filter-brands {
  border-bottom: solid 1px var(--light-gray);
}

.filter-brands-name,
.filter-type-name,
.filter-price-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-brands-name {
  margin: 0 0 17.5px 0;
  padding: 16px 0 0 0;
}

.filter-type-name {
  margin: 0 0 23px 0;
  padding: 18px 0 0 0;
}

.filter-beige {
  background-color: var(--basic-filter);
  border: none;
}

.filter-brands-list,
.filter-type-list {
  list-style: none;
  padding: 0 0 0 35px;
  margin: 0;
}

.filter-type-list {
  margin: 0 0 35px 0;
}

.filter-brands-list {
  margin: 0 0 27px 0;
}

.filter-brands-list li,
.filter-type-list li {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-brands-list li:not(:last-child) {
  margin: 0 0 20px 0;
}

.filter-brands-list label,
.filter-type-list label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;
  width: 23px;
  height: 23px;
  background-image: url(../img/icons/filter/checkbox-off.svg);
}

.filter-type-list li:not(:last-child) {
  margin: 0 0 20px 0;
}

.filter-input-checkbox:checked+label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;
  width: 23px;
  height: 23px;
  background-image: url(../img/icons/filter/checkbox-on.svg);
}


.filter-input-radio+label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -4px;
  width: 25px;
  height: 25px;
  border: 4px solid var(--gray);
  border-radius: 50%;
}

.filter-input-radio:checked+label::after {
  content: '';
  position: absolute;
  left: -27px;
  top: 4px;
  width: 9px;
  height: 9px;
  background-color: var(--gray);
  border-radius: 50%;
}

.filter-button {
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  border: solid 1px var(--light-gray);
  padding: 10px 80px 10px 78px;
}

.filter-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px 10px 19px;
  margin: 0 0 28px 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  border-radius: 2px;
}

.filter-sort-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-sort-heading {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  padding: 0;
  margin: 0;
}

.filter-sort-link:first-child {
  margin: 0 70px 0 0;
}

.filter-sort-link:nth-child(2) {
  margin: 0 65px 0 0;
}

.filter-sort-link:last-child {
  margin: 0 46px 0 0;
}

.filter-sort-link {
  text-decoration: none;
  color: var(--basic-black);
  line-height: 18px;
  text-transform: uppercase;
  border-bottom: 1px dotted var(--basic-red);
  opacity: 0.3;
}

.filter-sort-link:focus,
.filter-sort-link:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
  opacity: 1;
}

.filter-sort-link:active {
  color: var(--basic-red);
  border-bottom: none;
}

.filter-sort-current a,
.filter-sort-current a:hover,
.filter-sort-current a:focus,
.filter-sort-current a:active {
  color: var(--basic-red);
  border-bottom: none;
  opacity: 1;
}

.filter-sort-to-max {
  margin: 0 21px 0 0;
}

.filter-sort-to-max svg {
  transform: rotate(180deg);
}

.filter-sort-to-max:hover path,
.filter-sort-to-min:hover path,
.filter-sort-to-max:focus path,
.filter-sort-to-min:focus path {
  fill: var(--basic-black);
}

.filter-sort-to-max:active path,
.filter-sort-to-min:active path {
  fill: var(--basic-red);
}

.filter-sort-symbol-current path,
.filter-sort-symbol-current:focus path,
.filter-sort-symbol-current:hover path,
.filter-sort-symbol-current:active path {
  fill: var(--basic-red);
}

.products-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin: 0 0 59px 0;
  padding: 48px 0 0 0;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border: 1px solid var(--light-gray);
  border-radius: 2px;
  margin: 0 10px 0 0;
}

.pagination-item:last-child {
  width: 138px;
  margin: 0;
}

.pagination-item a:last-child {
  font-family: 'PT Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination-link {
  text-decoration: none;
  color: var(--basic-black);
}

.pagination-item:hover,
.pagination-item:focus {
  border: 1px solid var(--gray);
}

.pagination-item:active {
  border: 1px solid var(--basic-red);
}

.pagination-current-page,
.pagination-current-page:focus,
.pagination-current-page:hover,
.pagination-current-page:active {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: 1px solid var(--basic-red);
}

.pagination-current-page a,
.pagination-current-page a:focus,
.pagination-current-page a:hover,
.pagination-current-page a:active {
  color: var(--basic-white);
}

.text-container {
  background-color: var(--basic-gray);
  padding-bottom: 68px;
}

.text-container p {
  margin: 0;
  padding: 0;
}

.text-container .heading {
  font-family: 'cuprum', Arial, sans-serif;
  color: var(--basic-black);
  padding-top: 64px;
  margin-bottom: 25px;
}

.text-container-text {
  line-height: 24px;
  text-transform: none;
  max-width: 908px;
}

.button-shopping {
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.modal-button-wrap {
  background-color: var(--modal-gray);
}

.modal-button-wrap a {
  text-decoration: none;
}

.modal-button-esc {
  display: block;
  max-width: 100%;
  height: auto;
  background-color: var(--basic-gray);
}

.modal p {
  margin: 0;
  padding: 0;
}
